

body {
    background-image: url("img/background.jpg");
    background-size: 100%;
    font-family: 'Bangers', cursive;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.timer {
    width: 110px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 46.5%;
    font-size: 40px;
    background-color: aqua;
    text-align: justify; 
    color: deeppink;
    border-radius: 20px;
    opacity: .8;
}


.touch {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 48%;
    font-size: 60px;
    background-color: aqua;
    text-align: center;
    color: deeppink;
    opacity: .8;
}

.button {
    width: 430px;
    height: 65px;
    border: none;
    margin-top: 80px;
    margin-left: 33%;
    font-family: 'Bangers', cursive;
}

.button button {
    cursor: pointer;
    width: 140px;
    height: 65px;
    font-size: 23px;
    border-radius: 20px;
    border: none;
    background-color: darkred;
    opacity: .8;
    font-family: 'Bangers', cursive;
    color: chartreuse;
}

button:active, button:focus {
    outline: none;
    background-color: crimson;
}


.table {
    position: absolute;
    bottom: 100px;
    left: 40%;  
    background-color: aqua;
    font-size: 25px;
    color: firebrick;
    opacity: .8;
    display: none;
}

.table td{
    width: 27px;
    height: 27px;
    text-align: center;
    background-color: chartreuse;
    font-size: 25px;
}