

body {
    background-image: url("img/background.jpg");
    background-size: 100%;
    font-family: 'Bangers', cursive;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    width: 110px;
    height: 50px;
    margin: 10px;
    font-size: 40px;
    background-color: aqua;
    text-align: justify; 
    color: deeppink;
    border-radius: 20px;
    opacity: .8;
}


.touch {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 10px;
    font-size: 60px;
    background-color: aqua;
    text-align: center;
    color: deeppink;
    opacity: .8;
}

.button {
    width: 430px;
    height: 65px;
    border: none;
    margin-top: 80px;
    margin: 10px;
    font-family: 'Bangers', cursive;
}

.button button {
    cursor: pointer;
    width: 140px;
    height: 65px;
    font-size: 23px;
    border-radius: 20px;
    border: none;
    background-color: darkred;
    opacity: .8;
    font-family: 'Bangers', cursive;
    color: chartreuse;
}

button:active, button:focus {
    outline: none;
    background-color: crimson;
}


.table {
    /* position: absolute; */
    bottom: 100px;
    left: 40%;  
    background-color: aqua;
    font-size: 2rem;
    color: firebrick;
    opacity: .8;
    display: none;
}

.table td{
    width: 3rem;
    height: 3rem;
    text-align: center;
    background-color: chartreuse;
    font-size: 2rem;
}